# Node Modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build & Dependencies
/.expo/
/.expo-shared/
/dist/
/target/
/out/
/shadow-cljs.edn.bak
/.cpcache/
/.clj-kondo/
/cljs-runtime/

# macOS & System Files
.DS_Store
Thumbs.db

# Editor & IDE Files
.vscode/
.idea/
*.iml

# Logs & Cache
*.log
*.cache
/.metro-bundler-cache/
/.babelrc.bak/

# Expo & React Native Specific
.expo/
.expo-shared/
ios/build/
android/app/build/
android/.gradle/
android/.idea/
android/local.properties

# Shadow-CLJS Output
/public/js/
cljs-out/
shadow-cljs.edn.bak
/.shadow-cljs/
expo-cljs/
